body {
    background-color: #E3DAC9;
}

nav {
    font-family: Optima;
    background-color: #EFDECD;
    border-bottom: solid;
    border-width: 1px;
}

nav a:hover {
    border-bottom: solid;
}

#costForm {
    width: 50%;
    margin: 3% auto 3% auto;
}



h1, h3, div, label, legend {
    font-family: Optima, serif;
}

p {
    font-family: Optima, serif;
}

#displayCost {
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: right;
}

#displayTotalWithTax {
    font-weight: bold;
}