body {
    background-color: #EFDECD !important;
}

nav {
    font-family: Optima;
    background-color: #EFDECD;
    border-bottom: solid;
    border-width: 1px;
}

nav li:hover {
    border-bottom: solid;
}

.navbar-brand {
    border-bottom:solid ;
    border-bottom-color: #EFDECD;
}

header {
    position: relative;
    background-color: EFDECD;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#costForm {
    width: 50%;
    margin: 3% auto 3% auto;
}

h1, h3, h5, div, label {
    font-family: Optima, serif;
}

#messageDiv {
    color: red;
}

p {
    font-family: Optima, serif;
}

#displayCost {
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: right;
}

#displayTotalWithTax {
    font-weight: bold;
}

